
.data-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;


}

th {
    padding: 1em;
    border: 2px solid grey;
    text-align: center;
    background: lightgray;
    color:red;
}


td {
    padding: 0.5em;
    border: 1px solid grey;
    text-align: center;
}

tr:hover{
cursor: pointer;
}