/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/Table.css ***!
  \************************************************************************/

.data-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;


}

th {
    padding: 1em;
    border: 2px solid grey;
    text-align: center;
    background: lightgray;
    color:red;
}


td {
    padding: 0.5em;
    border: 1px solid grey;
    text-align: center;
}

tr:hover{
    cursor: pointer;
}


/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/base.css ***!
  \***********************************************************************/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/TableContainer.css ***!
  \*********************************************************************************/
.table-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;


}

.profile-info-container {
    border: black solid thin;
    margin: 3em 0;
    width: 80%;
    height: 40%;
    text-align: center;

    position: relative;
    bottom: 0;
}


.profile-info-container__list {
    list-style: none;

}

li {
    margin: 2em;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/styles.css ***!
  \*************************************************************************/





